@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Gamja+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 600;
}
body{
    background: #E2F1E7;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.active{
    color: #E2F1E7;
    background-color: #387478;
}
.weekend{
    color: red;
}
.task{
    font-size: 16px;
    border-bottom: 1px solid #243642;
}
.red-task{
    color: #F95454;
}
.yellow-task{
    color: #FFD23F;
}
.green-task{
    color: #72BF78;
}
.hidden{
    display: none;
}
.done{
    text-decoration: line-through;
    opacity: 0.5;
}


.wrapper{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calendar{
    width: 250px;
    text-align: center;
    color: #243642;
    font-size: 20px;
}
.controls{
    padding: 10px 0 20px;
    font-size: 23px;
}
.weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0;
}
.days{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.day{
    padding: 5px 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.day.space{
    visibility: hidden;
}
.day:hover{
    background-color: #6295847b;
}
.to-do-list{
    background-color: white;
    border-radius: 10px;
}
.list{
    width: 400px;
    min-height: 150px;
    padding: 10px;
}
.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 3px;
}
.red-dot{
    background-color: #F95454;
}
.yellow-dot{
    background-color: #FFD23F;
}
.green-dot{
    background-color: #72BF78;
}
textarea{
    display: flex;
    border: 1px solid #243642;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    height: 50px;
    resize: none;
    color: #243642;
}
textarea::placeholder{
    color: #243642;
    font-size: 15px;
}
.submit-btn{
    font-size: 18px;
    color: #E2F1E7;
    background: #387478;
    border-radius: 10px;
    padding: 5px 10px;
    width: max-content;
    margin: 5px auto 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #629584;
}
